---
page_title: "Provider: Immich"
---

# Immich Provider

The Immich provider is used to interact with the [Immich](https://immich.app/) API.
Immich is a high-performance self-hosted photo and video management solution.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
